<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turtlebeach.gstop"
    android:versionCode="6"
    android:versionName="BBY.AC.1.35.D" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- Latest version of Localytics seems to need this permission (boot receiver?) -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.turtlebeach.gstop.TurtleBeachApplication"
        android:theme="@style/AppTheme" >
        <meta-data android:name="LOCALYTICS_APP_KEY" android:value="@string/LYTICS_PROD"/>
        <activity
            android:name="com.turtlebeach.gstop.activities.SplashScreenActivity"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.turtlebeach.gstop.activities.FeaturedHeadsets"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.turtlebeach.gstop.activities.DemoVideo"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.turtlebeach.gstop.activities.MenuActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.turtlebeach.gstop.activities.VideoPlaybackActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.turtlebeach.gstop.activities.SoundExperiences"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.turtlebeach.gstop.activities.Admin"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.turtlebeach.gstop.activities.SpecialEdition"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.turtlebeach.gstop.activities.SpecialSlider"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.turtlebeach.gstop.activities.LearnMore"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.turtlebeach.gstop.activities.CatalogSlider"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.turtlebeach.gstop.activities.Catalog"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.turtlebeach.gstop.activities.PCHeadsetsActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name="com.turtlebeach.gstop.activities.HeadsetSelectorActivity"
            android:screenOrientation="sensorLandscape" />

        <!-- Services and Receivers -->
        <receiver android:name=".PingReportReceiver" 
            android:label="ping" android:enabled="true" />
                   
        <receiver android:name="com.turtlebeach.gstop.receiver.StartAppAtBoot"
            android:label="StartBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.turtlebeach.gstop.receiver.PowerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <service android:name="com.clickbrand.turtlebeach.update.UpdateService" />
        
        <service android:name="com.turtlebeach.gstop.internet.LocalyticsErrorSvc" />
        <meta-data android:name="com.crashlytics.ApiKey" android:value="0c2e37e505606678339d760c557862936c6e8e6e"/>
               
    </application>

</manifest>
